<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css">
</head>
<body>

<div class="container text-center" style="color: plum">

    <div class="h2">Menu</div>



    <div>
        <table class="table table-bordered">
            <thead class="table-responsive">
            <tr>
                <th>ID</th>
                <th>Course name</th>
                <th>Price</th>
                <th>Vegetarian</th>
            </tr>
            </thead>

            <tbody class="table-light">
            <th:block th:each="course : ${menu}" >
                <tr>
                    <td th:text="${course.id}"></td>
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.price}"></td>
                    <td th:text="${course.isVegetarian}"></td>
                    <td>

                    </td>
                </tr>
            </th:block>

            </tbody>

        </table>

    </div>
</div>

</body>
</html>